<div class="title">
  <h1>Admin Configuration</h1>

  <a [routerLink]="['']">
    <button mat-raised-button><mat-icon>arrow_back</mat-icon>Back</button>
  </a>
</div>
<ng-template #loading_spinner>
  <div class="loading-shade">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
</ng-template>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-container" *ngIf="!loadingSettings; else loading_spinner">
    <mat-label for="#" class="label-bold">Choose kind of template</mat-label>
    <mat-select name="kind" [(ngModel)]="kindOfTemplate" ngModel>
      <mat-option *ngFor="let kind of ['loan', 'return', 'fee']" [value]="kind">{{
        kind | titlecase
      }}</mat-option>
    </mat-select>
    <mat-label class="label-bold">Choose your template</mat-label>
    <mat-select name="template" ngModel>
      <mat-option
        *ngFor="let template of settings[kindOfTemplate]; index as idx"
        [value]="template.name"
        (click)="onSelectTemplate(template)"
      >
        {{ template.name }}</mat-option
      >
    </mat-select>
    <br />
    <textarea
      id="textbox"
      placeholder="Enter your'e ZPL here"
      matInput
      name="zpl"
      [(ngModel)]="selectedTemplate.zplString"
    ></textarea>

    <br />
    <div class="commands-container">
    <button mat-stroked-button type="submit">Save</button>
    <button mat-stroked-button type="button" (click)="onLoad()">Load</button>
    <button mat-stroked-button type="button" (click)="onRestoreDef()">Restore defaults</button>
  </div>
    <br />
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Add new template</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="standard">
          <input matNativeControl type="text" placeholder="New template name" #newTemplate />
        </mat-form-field>
        <button
          mat-stroked-button
          type="button"
          (click)="onAdd(newTemplate.value) && (newTemplate.value = '')"
        >
          Add
        </button>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="preview">
      <mat-accordion *ngIf="selectedTemplate">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title (click)="previewService.getPreview(selectedTemplate.zplString)"
              >Preview Label Generated</mat-panel-title
            >
          </mat-expansion-panel-header>
          <div *ngIf="!previewService.loadingPreview" class="img-container">
            <img id="record-preview" [src]="previewService.imageToShow" /><img />
          </div>
          <mat-spinner
            diameter="40"
            class="spinner"
            style="position: left"
            *ngIf="previewService.loadingPreview"
          ></mat-spinner>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</form>

