#preview-btn
{
  margin-left: auto;

}
.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }
  div.title {
    display: flex;
    margin-top: 10px;
  }
  
  div.title a {
    margin-left: auto;
  }
  
  .commands-container {
    margin-bottom: 10px;
    margin-top: 10px;
    width: fit-content;
  }
  .img-container
  {
    display: grid;
    height: 50%;
  }
  
  .spinner {
    float: left;
  }
  
  .commands-container button {
    margin-right: 10px;
  }
  .template-drop
  {
    display: inline-block;

    // display:flex;

  }
  .template-drop mat-form-field
  {
    width: 75%;
  }
  
  #record-preview {
    padding: 1px solid black;
    width: 300px;
    height: 500px;
    float: none;
    overflow: hidden;
  }
  