<div class="title">
  <h1>Settings</h1>

  <a [routerLink]="['']">
    <button mat-raised-button color="primary"><mat-icon>arrow_back</mat-icon>Back</button>
  </a>
</div>
<section>
  <ng-template #loading_spinner>
    <div class="loading-shade">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>
  </ng-template>
  <!-- [value]="(settings[kind])[settings.defTemplateSelctedInd[kindIdx]]"  -->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-container" *ngIf="!loadingSettings; else loading_spinner">
      <div class="template-drop" *ngFor="let kind of ['loan', 'return', 'fee']; index as kindIdx">
        <mat-form-field appearance="standard">
          <mat-label>Choose default template for {{ kind | titlecase }}</mat-label>
          <mat-select
            [ngModel]="settings[kind][settings.defTemplateSelctedInd[kindIdx]]"
            [name]="kind"
            (selectionChange)="onChangeSelection(f)"
          >
            <mat-option
              *ngFor="let t of settings[kind]; index as tIdx"
              [value]="t"
              #optionSelected
              >{{ t.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button
          mat-stroked-button
          type="button"
          color="primary"
          (click)="previewService.getPreview(f.value[kind]); kindToPreview = kind"
        >
          Preview
        </button>
      </div>
      <br />
    </div>
    <div class="commands-container">
      <button mat-stroked-button type="submit" color="primary">Save as Defaults</button>
    </div>

    <div *ngIf="!previewService.loadingPreview && kindToPreview" class="img-container">
      <img id="record-preview" [src]="previewService.imageToShow" /><img />
    </div>
    <mat-spinner
      mode="indeterminate"
      diameter="40"
      class="spinner"
      *ngIf="previewService.loadingPreview"
    ></mat-spinner>
  </form>
</section>
