<section>
  <h1>Welcome to Zebra printing app</h1>
  <ng-template #loading_spinner>
    <div class="loading-shade">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>
  </ng-template>
  <!-- *ngIf="!loadingSettings && !loadingPrinters;else loading_spinner" -->
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-container" *ngIf="!loadingPrinters;else loading_spinner">
    <mat-label class="label-bold">Choose whice printer to use</mat-label>
    <mat-select name="Devices" [(ngModel)]="selectedPrinter">
      <mat-option *ngFor="let device of printers" [value]="device">{{ device.name }}</mat-option>
    </mat-select>
  </div>

  <!-- TODO add real click event -->
  <button class="float-right" mat-stroked-button color="primary" (click)="(1 + 1)">Print</button>
  <button class="float-right" mat-stroked-button color="primary" (click)="(1 + 1)">Clear</button>
</form>
</section>
